@use 'vars' as *;
@use 'mixins' as *;

// Glue footer to the bottom
html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}
// END/ Glue footer to the bottom

body {
	@include mont-400;
	font-size: 1rem; // 16px
	color: $default;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 0.9375rem; // 0 15px
}

.promo,
.section-bg {
	position: relative;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.promo {
	height: 100vh;
	z-index: 1;
}

.section-header {
	text-align: center;
	max-width: 880px;
	margin: 0 auto;
}
