// Colors
$accent: #c94d00;

$white: #ffffff;
$default: #1a1a1a;
$black: #000000;
$grey: #6b6b6b;
$light-grey: #f0edee;
$medium-grey: #808080;
$dark-brown: #2c1a0e;
$dark-brown-bg: #191919;
$brown-bg: #321c0d;

// Fonts
@mixin mont-400 {
	font-family: 'Montserrat', serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin mont-500 {
	font-family: 'Montserrat', serif;
	font-weight: 500;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin mont-600 {
	font-family: 'Montserrat', serif;
	font-weight: 600;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin mont-700 {
	font-family: 'Montserrat', serif;
	font-weight: 700;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin mont-800 {
	font-family: 'Montserrat', serif;
	font-weight: 800;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin prata-400 {
	font-family: 'Prata', serif;
	font-weight: 400;
	font-style: normal;
}

@mixin rlw-400 {
	font-family: 'Raleway', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@mixin rlw-700 {
	font-family: 'Raleway', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
