// Colors
$accent: #c94d00;
$white: #ffffff;
$default: #1a1a1a;
$black: #000000;
$grey: #6b6b6b;
$light-grey: #f0edee;
$lighter-grey: #f5f5f5;
$medium-grey: #808080;
$dark-brown: #2c1a0e;
$dark-brown-bg: #191919;
$brown-bg: #321c0d;
$brown-gradient: linear-gradient(
	to bottom,
	#321c0d 0%,
	#25150a 50%,
	#191919 100%
);
