@use 'vars' as *;
@use 'optimize';
@use 'libs';
@use 'global';
@use 'media';

.dropdown {
	position: relative;
}

.dropdown::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: url('../images/arrow-down.svg') no-repeat;
	background-size: contain;
}

// Header
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	&__inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 26px;
		color: $white;
	}

	&__navmenu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav-list {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	&__nav-link {
		position: relative;
		padding: 0;
		transition: color 0.3s ease;
	}

	/* Animation when hovering over a menu item */
	&__nav-link::before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $accent;
		transition: width 0.3s ease;
	}

	&__nav-link:hover::before {
		width: 100%;
	}

	&__user-nav {
		display: flex;
		justify-content: space-between;
		margin-left: 5px;
		align-items: center;
	}

	&__search,
	&__login,
	&__lang {
		margin-left: 30px;
	}

	&__search {
		margin-right: 10px;
	}

	&__login-btn {
		border: 1px solid $white;
		border-radius: 5px;
		padding: 7px 10px;
	}
}

// Promo
.promo-home {
	padding: 100px 0;
	&__content {
		padding-top: 100px;
	}
	&__content-inner {
		display: flex;
	}
	&__content-header {
		max-width: 585px;
		margin: 0;
		text-align: left;
	}
	&__title {
		@include prata-400;
		font-size: 56px;
		color: $accent;
	}
	&__span {
		position: relative;
		@include mont-700;
		color: $white;
		font-size: 68px;
		padding-left: 100px;
	}
	&__span::after {
		content: '';
		position: absolute;
		top: 16px;
		left: 0;
		width: 53px;
		height: 55px;
		background: url('../images/icons/span-decore.svg') no-repeat;
		background-size: cover;
	}
	&__content-text {
		font-size: 18px;
		color: $grey;
		padding-top: 37px;
		max-width: 497px;
	}
	&__stats {
		padding-top: 40px;
	}
	&__stats-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__stats-items {
		display: flex;
		justify-content: space-between;
		margin-right: 50px;
		gap: 0 80px;
	}
	&__stats-item {
		max-width: 143px;
		text-align: center;
	}
	&__stats-title {
		@include prata-400;
		font-size: 32px;
		color: $accent;
	}
	&__stats-text {
		color: $white;
		font-size: 15px;
	}
}

// Services
.services {
	padding: 30px 10px;
	background-color: $brown-bg;
	color: $white;
	&-list {
		font-size: 18px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 0 74px;
	}
	&-list__item {
		position: relative;
	}
	&-list__item::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -44px;
		width: 3px;
		height: 3px;
		background: url('../images/icons/ellipse.svg') no-repeat;
		background-size: cover;
	}
}

// Expertise
.expertise {
	background-color: $dark-brown-bg;
	padding: 100px 0;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 80px;
		gap: 0 20px;
	}
	&__item {
		padding: 10px;
		flex-basis: 280px;
	}
	&__item-img {
		max-width: 60px;
		width: 100%;
		height: auto;
	}
	&__header-subtitle,
	&__item-title {
		color: $white;
	}
	&__item-title {
		@include mont-800;
		font-size: 32px;
		line-height: 1.2;
		max-width: 230px;
		padding-top: 30px;
	}
	&__item-text {
		color: $grey;
		padding-top: 30px;
	}
}

// Who we serve
.who-we-serve {
	padding: 100px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		flex-basis: 544px;
	}
	&__subtitle {
		margin-top: 16px;
	}
	&__img {
		margin-top: 56px;
		max-width: 480px;
		width: 100%;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__btn {
		display: block;
		max-width: 170px;
		text-align: center;
	}
}

// Services
.services {
	padding: 100px 0;
	&__inner {
		margin-top: 112px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px 70px;
	}
	&__item {
		flex-basis: 380px;
		padding: 10px;
	}
	&__item-title {
		@include mont-800;
		font-size: 32px;
		line-height: 1.2;
		max-width: 230px;
		position: relative;
		margin-bottom: 10px;
	}
	&__item-title::after {
		content: '';
		display: block;
		width: 50px;
		height: 2px;
		background-color: $accent;
		margin-top: 30px;
	}

	&__item:nth-last-child(2),
	&__item:nth-last-child(1) {
		grid-column: span 1;
		justify-self: start;
	}
	&__item-text {
		color: $grey;
	}
	&__item-text,
	&__item-btn {
		margin-top: 30px;
	}
	&__cta {
		margin-top: 100px;
	}
}

// Banking
.banking {
	padding: 100px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 50px;
	}
	&__list {
		margin-top: 40px;
	}
	&__btn {
		margin-top: 50px;
	}
	&__img {
		max-width: 646px;
		width: 100%;
	}
}

// Platform
.platform {
	padding: 100px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 0 125px;
		align-items: center;
	}
	&__subtitle {
		color: $white;
	}
	&__text {
		color: $white;
		margin-top: 60px;
	}
	&__btn {
		margin-top: 40px;
	}
	&__img {
		max-width: 536px;
		width: 100%;
	}
}

// Process
.process {
	padding: 100px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 0 100px;
	}
	&__item {
		flex: 1;
	}
	&__img {
		max-width: 480px;
		width: 100%;
		margin-top: 50px;
	}
	&__list-item + &__list-item {
		margin-top: 40px;
	}
	&__list-item-title {
		@include mont-800;
		font-size: 24px;
	}
	&__list-item-text {
		margin-top: 16px;
	}
}

// Benefits
.benefits {
	padding: 100px 0 430px;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 80px;
		gap: 0 20px;
	}
	&__item {
		padding: 10px;
		flex-basis: 280px;
	}
	&__item-img {
		max-width: 60px;
		width: 100%;
		height: auto;
	}
	&__header-subtitle,
	&__item-title {
		color: $white;
	}
	&__item-title {
		@include mont-800;
		font-size: 32px;
		line-height: 1.2;
		max-width: 250px;
		padding-top: 30px;
	}
	&__item-text {
		color: $grey;
		padding-top: 30px;
	}
}

// Reviews
.reviews {
	background-color: $light-grey;
	position: relative;
	padding: 450px 0 8px;
	&__wrapper {
		position: absolute;
		top: -300px;
	}
	&__subtitle {
		color: $white;
	}
	&__testimonials {
		margin-top: 100px;
		align-items: stretch;
	}
	&__testimonials-item {
		width: 300px !important;
		padding: 40px;
		background-color: $white;
		border-radius: 5px;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__testimonials-quotes-img {
		width: 40px;
		height: auto;
	}
	&__testimonials-text {
		padding-top: 20px;
		font-size: 18px;
	}
	&__testimonials-user {
		margin-top: 20px;
		display: flex;
		gap: 0 20px;
		align-items: center;
	}
	&__testimonials-avatar {
		width: 68px;
		height: 68px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__testimonials-name {
		font-size: 18px;
	}
	&__testimonials-name span {
		font-weight: 700;
		font-size: 20px;
	}
	&__testimonials-wrapper {
		max-width: 1180px;
		position: relative;
	}
	&__bread-crumbs {
		margin-top: 100px;
	}
}

.swiper {
	padding-bottom: 20px !important;
}

// Arrows
.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 1000;
	top: 50%;
	transform: translateY(-50%);
}
.swiper-button-prev {
	left: -80px;
}
.swiper-button-next {
	right: -80px;
}
