<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Taxus Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Prata&family=Raleway:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" href="css/style.min.css" />
	</head>

	<body>
		<div class="wrapper">
			<header class="header">
				<div class="container">
					<div class="header__inner">
						<div class="header__logo">
							<a class="header__logo-link" href="/">
								<img
									class="header__logo-img"
									src="images/logo.svg"
									alt="Logo"
								/>
							</a>
						</div>
						<div class="header__nav-menu">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item header__dropdown">
                <a class="header__nav-link dropdown mr-20" href="#">Services</a>
                <ul class="header__dropdown-menu">
                    <li><a href="company-reg.html">Company Registration</a></li>
                    <li><a href="payment-sol.html">Payment Solution</a></li>
                    <li><a href="gaming-lic.html">Gaming Licenses</a></li>
					<li><a href="contract-draft.html">Contract Drafting</a></li>
					<li><a href="tm-reg.html">TM Registration</a></li>
                </ul>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="banking.html">Banking</a>
            </li>
            <li class="header__nav-item header__dropdown">
                <a class="header__nav-link dropdown mr-20" href="about.html">About Us</a>
                <ul class="header__dropdown-menu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="team.html">Our Team</a></li>
                </ul>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="blog.html">Blog</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link ml" href="contact.html">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class="header__user-nav">
        <div class="header__search">
            <a class="header__search-link" href="#">
                <img class="header__search-img" src="images/icons/search.svg" alt="Search"/>
            </a>
        </div>
        <div class="header__login">
            <a class="header__login-btn" href="#"> Log in </a>
        </div>
        <div class="header__lang">
            <a class="header__nav-link dropdown" href="#">EN</a>
			  <ul class="header__dropdown-menu">
              <li><a href="#">UA</a></li>
              <li><a href="#">DE</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</header>